#Introduction {
 background: url(../images/DSC_0094.jpg) no-repeat center top;
 margin-top: -10px;
 padding-top: 30px;
 text-align: center;
 background-attachment: relative;
 background-position: center center;
 min-height: 700px;
 width: 100%;

 -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Introduction p {
 color: white;
 font-size: 20px;
 font-weight: 100;
 font-family: 'Raleway', sans-serif;
 font-style: oblique;
}

.navbar {
 min-height: 50px;
 margin-bottom: 0px;
}

.navbar-default {
 background-color: #446893;
 border-color: transparent;
}